@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Albert Sans", sans-serif;
}
:root {
  --bg-secondary-color: #ebebeb;
  --yellow: #fcffb2;
  --icon-hover: #dc302f;
  --star-color: #ea7952;
}
html {
  font-size: 62.5%;
}
body {
  color: #000 !important;
}
/* Text Size Classes */
.small {
  font-size: 1.4rem !important;
}
.txt-font {
  font-size: 1.6rem !important;
}
.subtitle-font {
  font-size: 2rem;
}
.marquee-font {
  font-size: 2.5rem;
}
.title-font {
  font-size: 8rem;
  font-weight: 400 !important;
}
.bg-grey {
  background-color: var(--bg-secondary-color);
}
.hover-bg-black:hover {
  background-color: #000;
  color: #fff;
  transition: all 1s ease;
}
.cursor-pointer {
  cursor: pointer;
}
.top {
  height: 8vh !important;
}
.circ:hover {
  color: white;
}
.circ1:hover {
  background-color: #3b5998;
}
.circ2:hover {
  background-color: black;
}
.circ3:hover {
  background: linear-gradient(
    45deg,
    #f58529,
    #feda77,
    #dd2a7b,
    #8134af,
    #515bd4
  );
}
.circ4:hover {
  background: linear-gradient(#25f4ee, #000, #fe2c55);
}
.circ5:hover {
  background-color: #cb2826;
}
/* ------------BANNER STARTS HERE----------------*/
.banner {
  background-image: url(assets/fashion-slideshow-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 110vh !important;
}
.icons i {
  font-size: 2.1rem !important;
}
.icons i:hover {
  color: var(--icon-hover);
}
.banner-content {
  padding-top: 10% !important;
  color: black;
}
.banner-btn {
  background-color: black !important;
  color: #fff;
}
button {
  position: relative;
  overflow: hidden;
  border: 0;
}
.sheen:after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}
.sheen:hover::after,
button:focus::after {
  animation: sheen 1s forwards;
}
@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

/* ------------BANNER ENDS HERE----------------*/
/* ------------MARQUEE STARTS HERE----------------*/
.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ------------MARQUEE ENDS HERE----------------*/
/* ------------CARD STARTS HERE----------------*/
.section1 {
  padding-bottom: 10vw !important;
}
.card-1 {
  background-image: url(assets/card1-img.png);
}
.card-2 {
  background-image: url(assets/card2-img.png);
  background-position: center;
}
.card-3 {
  background-image: url(assets/card3-img.png);
}
.sec1-card .card-body,
.sec2-card {
  background-size: cover;
}
.inner-circle {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}
.v:hover span {
  display: inline !important;
}
.sec1-card .card-body:hover,
.sec2-card:hover {
  scale: 1.05;
  transition: all 1.1s;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* ------------CARD ENDS HERE----------------*/
/* ------------SECTION-2 STARTS HERE----------------*/
.section-2 {
  padding-bottom: 20vh !important;
}
.card-row {
  padding-top: 10vh !important;
}
.card2-1 {
  background-image: url(assets/card2-1.png);
}
.card2-1:hover {
  background-image: url(assets/card2-1-hover.png);
}
.card2-2 {
  background-image: url(assets/card2-2.png);
}
.card2-2:hover {
  background-image: url(assets/card2-2-hover.png);
}
.card2-3 {
  background-image: url(assets/card2-3.png);
}
.card2-3:hover {
  background-image: url(assets/card2-3-hover.png);
}
.card2-4 {
  background-image: url(assets/card2-4.png);
}
.card2-4:hover {
  background-image: url(assets/card2-4-hover.png);
}
.card2-5 {
  background-image: url(assets/card2-5.png);
}
.card2-5:hover {
  background-image: url(assets/card2-5-hover.png);
}
.card2-6 {
  background-image: url(assets/card2-6.png);
}
.card2-6:hover {
  background-image: url(assets/card2-6-hover.png);
}
.card2-7 {
  background-image: url(assets/card2-7.png);
}
.card2-7:hover {
  background-image: url(assets/card2-7-hover.png);
}
.card2-8 {
  background-image: url(assets/card2-8.png);
}
.card2-8:hover {
  background-image: url(assets/card2-8-hover.png);
}
.black-box {
  height: 10%;
  word-spacing: 10px;
}
.card2-1:hover .black-box,
.card2-2:hover .black-box,
.card2-3:hover .black-box,
.card2-4:hover .black-box,
.card2-5:hover .black-box,
.card2-6:hover .black-box,
.card2-7:hover .black-box,
.card2-8:hover .black-box {
  display: flex !important;
  animation: pop 1s ease;
  -webkit-animation: pop 1s ease;
}
@keyframes pop {
  0% {
    height: 0px;
  }
  100% {
    height: 10%;
  }
}
/* ------------AECTION-2 ENDS HERE----------------*/

@media screen and (min-width: 500px) and (max-width: 768.99px) {
  html {
    font-size: 55%;
  }
}
@media screen and (min-width: 375px) and (max-width: 499.99px) {
  html {
    font-size: 40%;
  }
  .banner {
    height: 80vh !important;
  }
  .banner-content {
    padding-top: 34% !important;
  }
}
@media screen and (max-width: 375.99px) {
  html {
    font-size: 32%;
  }
  .banner-content {
    padding-top: 41% !important;
  }
  .banner {
    height: 70vh !important;
  }
}
